/* General style */

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'MoligaDEMO';
    src: url('../font/MoligaDEMO.otf') format('opentype');
}

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'NCLNeovibes';
    src: url('../font/NCLNeovibes-Demo.otf') format('opentype');
}

/* Remove scroll bar but allow scrolling */
::-webkit-scrollbar {
    width: 0; /* Remove scrollbar space for WebKit-based browsers */
    background: transparent; /* Transparent background for scrollbar */
}

/* For other browsers */
html {
    scrollbar-width: none; /* Disable scrollbar for other browsers */
    scroll-behavior: smooth;
}

body {
    background: #1B3054;
    font-family: Monospace;
    margin: 0;
    overflow-x: hidden;
}

/* constellation */

#sky {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, #14015A, #472D5F);
    position: relative;
    overflow: hidden;
}

.logo-text {
    position: absolute;
    width: 75%;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'NCLNeovibes', sans-serif;
    font-size: 3vw;
    letter-spacing: -0.025em;
    text-align: center;
    color: white;
    opacity: 0;
    animation: appear 0.5s ease-in forwards;
    animation-delay: 5s;
}

.constellation-frame {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.35);
}

.countdown-grid {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 32.5%;
    height: 7.5%;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'NCLNeovibes', sans-serif;
    font-size: 1.2vw;
    text-align: center;
    color: white;
    opacity: 0;
    animation: appear 0.5s ease-in forwards;
    animation-delay: 5s;
}

.registration-button {
    position: absolute;
    width: 15%;
    height: 5%;
    top: 87.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'NCLNeovibes', sans-serif;
    font-size: 1.2vw;
    border-radius: 15px;
    text-decoration: none;
    background: #94B9FF;
    text-align: center;
    align-content: center;
    opacity: 0;
    animation: appear 0.5s ease-in forwards;
    animation-delay: 5s;
}

.star {
    position: absolute;
    background: white;
    border-radius: 50%;
    animation-name: twinkle;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes twinkle {
    0% { opacity: 0.2; }
    100% { opacity: 1; }
}

@keyframes appear {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/* Navbar Styles */
.navbar {
    background: #1B3054;
    padding: 15px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar .links {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.navbar .links a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5rem;
}

.navbar .links a:hover {
    color: #FEDA48;
}

/* Logo Styles */
.logo-container {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 9999;
}

.logo-container a {
    display: block;
}

.logo-container a img {
    max-height: 80px;
}

/* Grid Layout for Sections */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

/* Section Styles */
.section {
    font-size: 1rem;
    padding: 60px 20px;
    background: #ffffff;
    color: #000000;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    text-align: center;
}

.section:last-of-type {
    margin-bottom: 0;
}

.section h2 {
    margin-bottom: 20px;
}

.section p {
    max-width: 800px;
    margin: 0 auto;
    color:#000000;
}

/* Footer Styles */
footer {
    color: #FFFFFF;
    padding: 20px 0;
    text-align: center;
}

footer h2, p {
    color: #ffffff;
    text-decoration: none;
}
